# CityBikes

##### Send a request to CityBikes for the city of your choice. 

For getting data from Citybikes API, I created an account in [CityBikes](https://citybik.es/).
Then, for the city of Rio de Janeiro information about bike stations was retrieved.

    a) uid        
    b) name        
    c) longitude
    d) latitude   
    e) free_bikes  
    e) empty_slots

In [9]:
# This code send request to get 'Toronto, ON' CityBikes information 

import requests
from IPython.display import JSON #for nice JSON (or dict) display in JupyterLab (not currently supported in Jupyter Notebook)
import json
from pandas import json_normalize

#Get data for certain network_id
network_id = 'bikerio' # for 'Rio de Janeiro
network = requests.get("http://api.citybik.es/v2/networks/"+network_id).json()

# All Stations Informations
network_json=network['network'].get('stations')

# Convert to Dataframe 
df=json_normalize(network_json)
df.head()

,empty_slots,free_bikes,id,latitude,longitude,name,timestamp,extra.address,extra.altitude,extra.ebikes,extra.has_ebikes,extra.last_updated,extra.normal_bikes,extra.payment,extra.payment-terminal,extra.renting,extra.returning,extra.slots,extra.uid,extra.post_code
0,8,3,6dada0970a8b53e088bbeca37995423a,-22.910029,-43.178429,66 - Estação de Bondes,2023-02-27T05:48:00.899000Z,"RUA LELIO GAMA, E/F AO N 105",0.0,0,True,1677476573,3,"[key, transitcard, phone]",False,0,1,11,66,NaN
1,18,5,1a82f56476329fa31ff85c4dbca360e3,-22.953387,-43.173126,26 - Iate Clube,2023-02-27T05:48:00.771000Z,"Rua Dr. Xavier Sigaud, entre os números 61 e 75",0.0,0,True,1677476691,5,"[key, transitcard, phone]",False,0,1,23,26,NaN
2,16,6,84f58a432f8fc9c00d637bf915efff27,-22.953847,-43.196941,20 - Cobal,2023-02-27T05:48:00.772000Z,"Rua Humaitá (canteiro central), em frente ao n...",0.0,0,True,1677476803,6,"[key, transitcard, phone]",False,0,1,22,20,NaN
3,12,5,e4d40c58a39044d937178133fbc410ff,-22.954165,-43.192913,21 - Real Grandeza,2023-02-27T05:48:00.773000Z,"Rua Real Grandeza, em frente ao número 139",0.0,0,True,1677476613,5,"[key, transitcard, phone]",False,0,1,17,21,NaN
4,7,8,e2be3cf423994508460257985b0f806b,-22.957157,-43.188818,22 - General Polidoro,2023-02-27T05:48:00.774000Z,"Rua General Polidoro, na calçada, em frente ao...",0.0,0,True,1677476788,8,"[key, transitcard, phone]",False,0,1,15,22,NaN

##### Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes). 

In this section, applicable fields (including uid, name, longitude, latitude, free_bikes, and empty_slots) are kept and other fields were deleted.

In [10]:
# Keep extra.uid as uid
df['uid'] = df['extra.uid']

# Delete columns listed in 'list_delete'
list_delete=['id','timestamp','extra.address','extra.altitude','extra.ebikes','extra.has_ebikes','extra.last_updated','extra.normal_bikes','extra.payment','extra.payment-terminal','extra.renting','extra.returning','extra.slots','extra.uid','extra.post_code']

for i in list_delete:
    df = df.drop(i, axis=1)

# Reorder columns
df = df.reindex(columns=['uid','name','longitude','latitude','free_bikes','empty_slots'])
df.head()

  uid                    name  longitude   latitude  free_bikes  empty_slots
0  66  66 - Estação de Bondes -43.178429 -22.910029           3            8
1  26         26 - Iate Clube -43.173126 -22.953387           5           18
2  20              20 - Cobal -43.196941 -22.953847           6           16
3  21      21 - Real Grandeza -43.192913 -22.954165           5           12
4  22   22 - General Polidoro -43.188818 -22.957157           8            7

In [11]:
# Null value detecting
df.isna().mean()

uid            0.0
name           0.0
longitude      0.0
latitude       0.0
free_bikes     0.0
empty_slots    0.0
dtype: float64

In [12]:
# Check for duplicates
print(df.shape)
df[['uid','name']].nunique()

(307, 6)

uid     307
name    307
dtype: int64

##### Put your parsed results into a DataFrame.

In [13]:
# Save as CSV file
df.to_csv('data/city_bikes.csv', sep=',', encoding='utf-8',index=False)